$primaryColor: #020230;

.app {
  height: 100vh;
  display: flex;
  color: white;
  background-color: $primaryColor;

  .main {
    width: 75%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $primaryColor),
      url("assets/images/stage.jpeg") center;
    display: flex;
    flex-direction: column;
    
    .top {
      height: 50%;
      position: relative;
    
      .timer {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 5px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        left: 80px;
        font-size: 30px;
        font-weight: 700;
      }
    }
    
    .bottom {
      height: 50%;
    }
    .endText {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
    }
  }
  .pyramid {
    width: 25%;
    background-color: $primaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}











